.women-hol, .women-jjak, .men-front, .men-back{
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.wrap-person{
  background-color: silver;
  width: 500px;
  height: 400px;
  padding: 50px 50px;
}

.wrap-womens{
  float: left;
}
.wrap-mens{
  float: left;
}

.off-icon{
  width: 13px;
  height: 13px;
  background-color: #DBDBDB;
  border-radius: 100%;
}
.on-icon{
  width: 13px;
  height: 13px;
  background-color: #4CFE88;
  border-radius: 100%;
}